<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
  <appSettings>
    <!--Для отправки почты-->
    <add key="smtpServer" value=""/>
    <add key="sender" value=""/>
    <add key="senderPass" value=""/>
  </appSettings>
	<connectionStrings>
      <add name="ESP_WEB"
         connectionString=""
         providerName="System.Data.SqlClient" />
	  <add name="ESP_CRM"
         connectionString=""
         providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>